@using ToDoListApp.Models;
@model TaskListPageViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tasks) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
